name: Update Protos

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-protos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Update Rust toolchain to stable
        run: |
          rustup override set stable
          rustup update stable
          rustup component add rustfmt

      - name: Run fetch-protos
        run: cargo run --all-features --bin fetch-protos

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore: update protos"
          branch: master
